@charset "utf-8";
/* CSS Document */

body {font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #000;}

ul {padding-left: 0;}

ul li {list-style: none;}

ul li a {color: #fff;}

ul li a:hover {color:#fff !important;}

h1,h2,h3,h4,h5,h6 {font-weight: 500;}

p {font-weight: 400;}

.career-bg {background-image: url(../img/career_bg.png);
          background-size: cover;
          background-position: top;
          background-repeat: no-repeat;
          padding: 150px 0;}

.career-bg h2 {font-size: 48px;
                color: #fff;}

.career-bg p {font-size: 28px;
               color: #fff;}

/*ABOUTUS*/

.about-bg h2 {font-size: 52px;
              font-weight: 400;}

.about-bg h3 {font-size: 42px;
              font-weight: 400;
              margin-bottom: 20px;}

.about-bg p {font-size: 28px;
             margin-bottom: 0;}

.about-1 {background-color: #20729c;}

.about-2 {background-color: #f26e70;}

.about-3 {background-color: #4dc7ec;}

.about-4 {background-color: #f68c35;}

.about-5 {background-color: #53bb9c;}


@media(max-width:375px) {

.career-bg h2 {font-size: 32px;
		         font-weight: 400;}
	
.career-bg p {font-size: 18px;}
	
.career-bg {padding: 70px 0;}
	
.about-bg h2 {font-size: 28px;}
	
.about-bg h3 {font-size: 22px;}
	
.about-bg p {font-size: 18px;}
		
}

@media(min-width:376px) and (max-width:425px) {

.career-bg h2 {font-size: 36px;
		         font-weight: 400;}
	
.career-bg p {font-size: 18px;}
	
.career-bg {padding: 70px 0;}
	
.about-bg h2 {font-size: 32px;}
	
.about-bg h3 {font-size: 24px;}
	
.about-bg p {font-size: 18px;}
		
}

@media(min-width:426px) and (max-width:768px){

.about-bg h2 {font-size: 42px;}
	
.about-bg h3 {font-size: 32px;}
	
.about-bg p {font-size: 22px;}

}
