@charset "utf-8";
/* CSS Document */
body {font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #000;}

ul {padding-left: 0;}

ul li {list-style: none;}

ul li a {color: #fff;}

ul li a:hover {color:#fff !important;}

h1,h2,h3,h4,h5,h6 {font-weight: 500;}

p {font-weight: 400;}

.iot-bg {background-image: url(../img/IOT_bg.png);
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         padding: 150px 0;}

.iot-bg h2 {font-size: 52px;
	         color: #fff;}
	
/*SERVICES*/

.mobile-bg {background-color: #20729c;}

.mobile-bg h2 {color: #fff;
               font-size: 52px;
	           font-weight: 400;}

.mobile-bg p {color: #fff;
             font-size: 22px;}

.services-bg h4 {color: #26b573;
                 font-weight: 400;
                 font-size: 30px;}

.services-bg p {color: #727272;
               font-size: 22px;}

.app-bg {background-color: #26b573;}

.app-bg h2 {font-size: 42px;}

.app-bg p {font-size: 22px;}


@media(max-width:425px){
	
.iot-bg h2 {font-size: 32px;
		     font-weight: 400;}
	
.iot-bg {padding: 70px 0;}
	
.mobile-bg h2 {font-size: 32PX;}
	
	.mobile-bg p {font-size: 18px;}
	
.services-bg img {width: 100px;
	                  height: auto;}

.services-bg h4 {font-size: 28px;}
	
.services-bg p {font-size: 18px;}
	
.app-bg h2 {font-size: 24px;}
	
.app-bg p {font-size: 18px;}

}

@media(min-width:426px) and (max-width:768px){
	
.iot-bg h2 {font-size: 42px;}
	
.iot-bg {padding: 90px 0;}
	
.mobile-bg h2 {font-size: 42px;}
	
.services-bg img {width: 100px;
	                  height: auto;}
	
.services-bg h4 {font-size: 24px;}
	
.services-bg p {font-size: 18px;}
	
.app-bg h2 {font-size: 36px;}

}