@charset "utf-8";
/* CSS Document */

body {font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #000;}

ul {padding-left: 0;}

ul li {list-style: none;}

ul li a {color: #fff;}

ul li a:hover {color: #fff !important;}

h1,h2,h3,h4,h5,h6 {font-weight: 500;}

p {font-weight: 400;}


.memosnag-bg {background-image: url(../img/memosnag_bg.png);
         background-size: cover;
         background-position: center center;
         background-repeat: no-repeat;
         padding: 80px 0;}

.memosnag-bg h2 {color: #fff;
             font-size: 58px;}

.memosnag-bg p {color: #fff;
           font-size: 36px;}

/*SERVICES*/

.story-bg h2 {font-size: 64px;
              color: #126094;}

.story-bg p {color: #949494;
             font-size: 32px;
             font-weight: 400;}


/*ICON DESIGN*/

.icon-bg {background-color: #f4f4f4;}

/*STRATAGY*/

.system-bg h2 {color: #0f9cd2;
              font-size: 62px;}

@media(max-width:425px){
	
.memosnag-bg img {width: 150px;
	                  height: auto;} 
	
.memosnag-bg {padding: 40px 0;}
	
.memosnag-bg h2 {font-size: 36px;}
	
.memosnag-bg p {font-size: 22px;}
	
.story-bg h2 {font-size: 36px;}
	
.story-bg p {font-size: 22px;}
	
.icon-bg h2 {font-size: 30px;}
	
.system-bg h2 {font-size: 30px;}
	
.system-bg p {font-size: 20px;}
	
.services-bg h4 {font-size: 20px;}
}

@media(min-width:426px) and (max-width:768px){
	
.memosnag-bg img {width: 180px;
	                  height: auto;}
	
.memosnag-bg {padding: 60px 0;}
	
.memosnag-bg h2 {font-size: 48px;}
	
.memosnag-bg p {font-size: 30px;}
	
.story-bg h2 {font-size: 52px;}

.story-bg p {font-size: 24px;}
	
.icon-bg h2 {font-size: 42px;}
	
.system-bg h2 {font-size: 42px;}
	
.system-bg p {font-size: 24px;}
	
.services-bg h4 {font-size: 30px;}
}

@media(min-width:1024px) and (max-width:1439px)
{
.story-bg h2 {font-size: 42px;}

.story-bg p {font-size: 20px;}	
}